<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Synos</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
		<meta name="theme-color" content="#000000" />
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
		<!-- app icon -->
		<link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-touch-icon-152.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon-180.png" />
		<link rel="apple-touch-icon" sizes="167x167" href="/assets/apple-touch-icon-167.png" />
		<!-- splash screen -->
		<!-- iPhone Xs Max (1242px x 2688px) --> 
		<link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" href="/assets/apple-launch-1242x2688.png">
		<!-- iPhone Xr (828px x 1792px) --> 
		<link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" href="/assets/apple-launch-828x1792.png">
		<!-- iPhone X, Xs (1125px x 2436px) --> 
		<link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" href="/assets/apple-launch-1125x2436.png">
		<!-- iPhone 8 Plus, 7 Plus, 6s Plus, 6 Plus (1242px x 2208px) --> 
		<link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)" href="/assets/apple-launch-1242x2208.png">
		<!-- iPhone 8, 7, 6s, 6 (750px x 1334px) --> 
		<link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="/assets/apple-launch-750x1334.png">
		<!-- iPad Pro 12.9" (2048px x 2732px) --> 
		<link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" href="/assets/apple-launch-2048x2732.png">
		<!-- iPad Pro 11” (1668px x 2388px) --> 
		<link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" href="/assets/apple-launch-1668x2388.png">
		<!-- iPad Pro 10.5" (1668px x 2224px) --> 
		<link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" href="/assets/apple-launch-1668x2224.png">
		<!-- iPad Mini, Air (1536px x 2048px) --> 
		<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" href="/assets/apple-launch-1536x2048.png">
		<!-- status bar -->
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<!-- app name -->
		<meta name="apple-mobile-web-app-title" content="Synos" />
		<script>
if (typeof window !== 'undefined') {
  window.beforeInstallPrompt = new Promise(resolve => {
    window.addEventListener('beforeinstallprompt', evt => {
      evt.preventDefault();
      //console.debug('got beforeinstallprompt: %o', evt);
      resolve(evt);
    });
  });
}
		</script>
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
