.icon.airplay {
  background-image: url(../../icons/airplay.png);
}

.icon.albums {
  background-image: url(../../icons/albums.png);
}

.icon.appletv {
  background-image: url(../../icons/appletv.png);
}

.icon.artists {
  background-image: url(../../icons/artists.png);
}

.icon.audiobooks {
  background-image: url(../../icons/audiobooks.png);
}

.icon.books {
  background-image: url(../../icons/books.png);
}

.icon.computer {
  background-image: url(../../icons/computer.png);
}

.icon.downloaded_music,
.icon.downloaded_tvshows,
.icon.downloaded_movies {
  background-image: url(../../icons/downloaded.png);
}

.icon.folder {
  background-image: url(../../icons/folder.png);
}

.icon.genius {
  background-image: url(../../icons/genius.png);
}

.icon.genres {
  background-image: url(../../icons/genres.png);
}

.icon.movies {
  background-image: url(../../icons/movies.png);
}

.icon.music {
  background-image: url(../../icons/music.png);
}

.icon.playlists,
.icon.standard,
.icon.playlist {
  background-image: url(../../icons/playlist.png);
}

.icon.podcasts {
  background-image: url(../../icons/podcasts.png);
}

.icon.purchased {
  background-image: url(../../icons/purchased.png);
}

.icon.recent {
  background-image: url(../../icons/recent.png);
}

.icon.smart {
  background-image: url(../../icons/smart.png);
}

.icon.songs {
  background-image: url(../../icons/songs.png);
}

.icon.sonos {
  background-image: url(../../icons/sonos.png);
}

.icon.tvshows {
  background-image: url(../../icons/tvshows.png);
}

