input[type="range"] { 
  -webkit-appearance: none;
  background: transparent; 
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--range-height, 10px);
  background: linear-gradient(90deg, var(--highlight-muted) var(--webkit-progress-percent, 0%), rgba(127, 127, 127, 0.3) var(--webkit-progress-percent, 0%));
  border: none;
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: calc(var(--range-height, 10px) * 2);
  width: calc(var(--range-height, 10px) * 2);
  border-radius: 50%;
  background: var(--highlight);;
  margin-top: calc(var(--range-height, 10px) / -2);
}

input[type="range"]:focus {
  outline: none;
}
