:root {
  --darkish: rgba(0, 0, 0, 0.1);
  --darken: rgba(0, 0, 0, 0.3);
  --darker: rgba(0, 0, 0, 0.5);
  --darkest: rgba(0, 0, 0, 0.7);
  --superdark: rgba(0, 0, 0, 0.9);

  --lightish: rgba(255, 255, 255, 0.1);
  --lighten: rgba(255, 255, 255, 0.3);
  --lighter: rgba(255, 255, 255, 0.5);
  --lightest: rgba(255, 255, 255, 0.7);
  --superlight: rgba(255, 255, 255, 0.9);

  /*
  --highlight: #09c;
  --highlight-inverse: #fff;
  */

  --font-size-huge: 24px;
  --font-size-large: 18px;
  --font-size-normal: 14px;
  --font-size-small: 12px;
  --font-size-tiny: 10px;
}

body {
  --hue: 0;
  --sat: 100%;
  --lightness-muted: calc((var(--lightness) + var(--lightness-contrast)) / 2);
  --gradient-dir: -20deg;
  --gradient-stretch: -10%;
  --gradient-compress: 90%;
  --highlight: hsl(var(--highlight-hue), var(--sat), var(--lightness-contrast));
  --highlight-muted: hsl(var(--highlight-hue), calc(var(--sat) * 0.8), var(--lightness-muted));
  --gradient-start: hsl(var(--hue), var(--sat), var(--lightness));
  --gradient: linear-gradient(var(--gradient-dir), var(--gradient-start) var(--gradient-stretch), var(--gradient-end) var(--gradient-compress));
  background: var(--gradient);
  color: var(--text);
  --shadow: rgba(0, 0, 0, 0.8);
}

body.dark {
  --gradient-end: black;
  --lightness: 30%;
  --lightness-contrast: 60%;
  --inverse: black;
  --highlight-blur: var(--lightish);
  --blur-background: var(--lighten);
  --text: var(--lightest);
  --text-bright: white;
  --text-disabled: var(--lighten);
  --contrast1: var(--darkish);
  --contrast2: var(--darken);
  --contrast3: var(--darker);
  --contrast4: var(--darkest);
  --contrast5: var(--superdark);
  --border: var(--lighten);
  --muted-text: var(--lighter);
}

body.light {
  --gradient-end: white;
  --lightness: 60%;
  --lightness-contrast: 30%;
  --inverse: white;
  --highlight-blur: var(--darkish);
  --blur-background: var(--darkest);
  --text: var(--darkest);
  --text-bright: black;
  --text-disabled: var(--darken);
  --contrast1: var(--lightish);
  --contrast2: var(--lighten);
  --contrast3: var(--lighter);
  --contrast4: var(--lightest);
  --contrast5: var(--superlight);
  --border: var(--darken);
  --muted-text: var(--darker);
}

body.grey {
  --hue: 0;
  --highlight-hue: 0;
  --sat: 0%;
  --lightness: 50%;
  --gradient-stretch: -30%;
  --gradient-compress: 80%;
}

body.dark.grey {
  --lightness-contrast: 80%;
}

body.red {
  --hue: 0;
  --highlight-hue: 350;
}

body.orange {
  --hue: 25;
  --highlight-hue: 15;
}

body.yellow {
  --hue: 60;
  --highlight-hue: 50;
}

body.light.yellow {
  --gradient-stretch: -30%;
}

body.green {
  --hue: 120;
  --highlight-hue: 110;
}

body.light.green {
  --gradient-stretch: -40%;
}

body.dark.green {
  --gradient-stretch: -25%;
}

body.seafoam {
  --hue: 165;
  --highlight-hue: 155;
}

body.dark.seafoam {
  --gradient-stretch: -25%;
}

body.teal {
  --hue: 180;
  --highlight-hue: 170;
}

body.dark.teal {
  --gradient-stretch: -30%;
}

body.slate {
  --hue: 210;
  --highlight-hue: 200;
}

body.dark.slate {
  --gradient-stretch: -30%;
}

body.blue {
  --hue: 240;
  --highlight-hue: 230;
  --inverse: white;
}

body.dark.blue {
  --highlight-lightness: 75%;
}

body.indigo {
  --hue: 278;
  --highlight-hue: 268;
  --inverse: white;
}

body.dark.indigo {
  --lightness: 20%;
  --highlight-lightness: 75%;
}

body.purple {
  --hue: 295;
  --highlight-hue: 285;
}

body.dark.purple {
  --lightness: 20%;
  --highlight-lightness: 75%;
}

body.fuchsia {
  --hue: 320;
  --highlight-hue: 310;
}

body.dark.fuchsia {
  --gradient-stretch: -20%;
}

body.darkpurple {
  --hue: 290;
  /*
  */
}

body.darkred {
  --hue: 0;
  /*
  --gradient: linear-gradient(-20deg, darkred, black);
  */
}

body.darkblue {
  --hue: 240;
  /*
  --gradient: linear-gradient(-20deg, darkblue, black);
  */
}

body.darkgreen {
  --hue: 120;
  /*
  --gradient: linear-gradient(-20deg, darkgreen, black);
  */
}

body.darkorange {
  --hue: 25;
  /*
  --gradient: linear-gradient(-20deg, #930, black);
  */
}

body.darkfuchsia {
  --hue: 320;
  /*
  --gradient: linear-gradient(-20deg, fuchsia, black);
  */
}
