#app.mobile {
  height: 100vh;
}

#app.mobile .back {
  background-size: contain;
  background-repeat: no-repeat;
  padding: 3px 6px 3px 36px;
  border-left: solid transparent 6px;
  border-top: solid transparent 12px;
  border-bottom: solid transparent 12px;
  position: fixed;
  z-index: 2;
  width: 100vw;
  box-sizing: border-box;
  font-size: 18px;
}

#app.mobile .header {
  padding: 0.5em;
  padding-top: 54px;
}

#app.mobile .header .icon {
  width: 18px;
  height: 18px;
  min-width: 18px;
  max-width: 18px;
  background-size: cover;
}

#app.mobile .header .title {
  font-size: 24pt;
  font-weight: bold;
  margin-top: 0.5em;
  padding-left: 0.5em;
}

#app.mobile .home .items {
  width: 100vw;
}

#app.mobile .home .item {
  display: flex;
  flex-direction: row;
  padding: 9px 9px 0px 9px;
}

#app.mobile .home .item .icon {
  flex: 1;
  width: 36px;
  min-width: 36px;
  max-width: 36px;
  height: 36px;
  opacity: 0.75;
}

#app.mobile .home .item .title {
  flex: 10;
  font-size: 18px;
  padding: 9px 9px 18px 9px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: hidden;
}

#app.mobile .playlistList .item {
  display: flex;
  padding: 9px 9px 0px 9px;
  box-sizing: border-box;
}

#app.mobile .playlistList .item .icon {
  flex: 1;
  width: 36px;
  min-width: 36px;
  max-width: 36px;
  height: 36px;
  box-sizing: border-box;
  background-size: cover;
  opacity: 0.75;
}

#app.mobile .playlistList .item .title {
  flex: 10;
  font-size: 18px;
  padding: 9px 9px 18px 9px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

#app.mobile .playlistList,
#app.mobile .artistList,
#app.mobile .albumList,
#app.mobile .genreList {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

#app.mobile .artistList .index,
#app.mobile .albumList .index,
#app.mobile .genreList .index {
  position: fixed;
  z-index: 3;
  right: 5px;
  font-size: 12px;
}

#app.mobile .playlistList .items,
#app.mobile .artistList .items,
#app.mobile .albumList .items,
#app.mobile .genreList .items {
  height: calc(100vh - 185px);
}

#app.mobile .artistList .item,
#app.mobile .genreList .item {
  display: flex;
  padding: 9px 9px 0px 9px;
  height: 58px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
}

#app.mobile .artistList .item .artistImage,
#app.mobile .genreList .item .genreImage {
  flex: 1;
  width: 44px;
  min-width: 44px;
  max-width: 44px;
  height: 44px;
  margin-top: -2px;
  box-sizing: border-box;
  border: solid transparent 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

#app.mobile .artistList .item .artistImage {
  border-radius: 50%;
}

#app.mobile .genreList .item .genreImage {
  border-radius: 5px;
}

#app.mobile .artistList .item .title,
#app.mobile .genreList .item .title {
  flex: 10;
  font-size: 18px;
  padding: 9px 9px 18px 9px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#app.mobile .albumList .row {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
}

#app.mobile .albumList .padding {
  flex: 1;
  min-width: 5px;
}

#app.mobile .albumList .item {
  flex: 10;
  width: 155px;
  min-width: 155px;
  max-width: 155px;
  overflow: hidden;
  white-space: nowrap;
}

#app.mobile .albumList .item .coverArt {
  width: 155px;
  height: 155px;
  border: solid transparent 1px;
  border-radius: 10px;
  background-size: cover;
}

#app.mobile .albumList .item .title {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11pt;
  padding-top: 5px;
}

#app.mobile .songList {
  width: 100vw;
  height: calc(100vh - 69px);
  box-sizing: border-box;
  overflow: hidden;
}

#app.mobile .songList .header {
  display: flex;
  flex-direction: row;
}

#app.mobile .songList .header .cover {
  flex: 1;
  width: 140px;
  min-width: 140px;
  max-width: 140px;
  height: 140px;
  background-size: cover;
  border: solid transparent 1px;
  border-radius: 5px;
  overflow: hidden;
}

#app.mobile .songList .header .cover .row {
  display: flex;
  flex-direction: row;
}

#app.mobile .songList .header .cover .col {
  width: 70px;
  min-width: 70px;
  max-width: 70px;
  height: 70px;
  background-size: cover;
}

#app.mobile .songList .header .title {
  flex: 10;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  margin-top: 0;
}

#app.mobile .songList .header .title .album {
  flex: 1;
  font-size: 16pt;
  font-weight: bold;
}

#app.mobile .songList .header .title .artist {
  flex: 1;
  font-size: 12pt;
}

#app.mobile .songList .header .title .genre {
  flex: 10;
  font-size: 12pt;
}

#app.mobile .songList .header .dotsmenu {
  flex: 1;
  border: solid transparent 1px;
  border-radius: 50%;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  min-height: 30px;
  max-height: 30px;
  font-size: 12px;
  padding-top: 6px;
  text-align: center;
}

#app.mobile .songList .items {
  height: calc(100vh - 273px);
}

#app.mobile .songList .item {
  display: flex;
  padding: 9px 9px 0px 9px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
}

#app.mobile .songList .item .cover {
  flex: 1;
  width: 48px;
  min-width: 48px;
  max-width: 48px;
  height: 48px;
  box-sizing: border-box;
  border: solid transparent 1px;
  border-radius: 4px;
  background-size: cover;
}

#app.mobile .songList .item .tracknum {
  flex: 1;
  width: 24px;
  min-width: 24px;
  max-width: 24px;
  font-size: 18px;
  padding-top: 9px;
  text-align: right;
}

#app.mobile .songList .item .title {
  flex: 10;
  font-size: 18px;
  padding: 9px 0px 0px 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 9px;
}

#app.mobile .songList .item .title .song {
  overflow: hidden;
  text-overflow: ellipsis;
}

#app.mobile .songList .item .title .artist {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

#app.mobile .songList .item .dotsmenu {
  flex: 1;
  padding-top: 12px;
}

#app.mobile .disabler {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#app.mobile .trackMenu,
#app.mobile .playlistMenu {
  position: fixed;
  z-index: 2;
  left: 20px;
  bottom: 75px;
  width: calc(100vw - 40px);
  border: solid transparent 1px;
  border-radius: 20px;
  max-height: 60vh;
}

#app.mobile .trackMenu .header,
#app.mobile .playlistMenu .header {
  padding: 0.5em;
  background: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

#app.mobile .trackMenu .header .title,
#app.mobile .playlistMenu .header .title {
  border: none;
}

#app.mobile .trackMenu .header .title .name,
#app.mobile .playlistMenu .header .title .name {
  font-size: 12pt;
  overflow: hidden;
  text-overflow: ellipsis;
}

#app.mobile .trackMenu .header .title .album,
#app.mobile .playlistMenu .header .title .queueInfo {
  font-size: 10pt;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

#app.mobile .trackMenu .items,
#app.mobile .playlistMenu .items {
  height: auto;
}

#app.mobile .trackMenu .item,
#app.mobile .playlistMenu .item {
  padding: 0;
}

#app.mobile .trackMenu .item .title,
#app.mobile .playlistMenu .item .title {
  margin: 0;
  padding: 1em;
}

#app.mobile .trackMenu .cancel,
#app.mobile .playlistMenu .cancel {
  padding: 1.5em;
  text-align: center;
  font-weight: bold;
}

#app.mobile .nowplaying {
  padding: 10px;
  position: fixed;
  z-index: 3;
  bottom: 0px;
  width: 100vw;
  box-sizing: border-box;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex-direction: row;
}

#app.mobile .nowplaying.big {
  display: block;
  flex-direction: column;
  height: 100%;
  padding: 0;
  border-top: none;
}

#app.mobile .nowplaying.big .header {
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1;
}

#app.mobile .nowplaying.big .header .collapse {
  flex: 1;
  padding: 5px 1em;
}

#app.mobile .nowplaying.big .header .showQueue {
  flex: 1;
  text-align: right;
  padding: 5px 1em;
}

#app.mobile .nowplaying .coverart {
  width: 56px;
  height: 56px;
  border-right-style: solid;
  border-right-width: 1px;
  background-size: cover;
  background-position: center;
}

#app.mobile .nowplaying.big>div.content {
  flex: 10;
  width: 280px;
  min-width: 280px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
}

#app.mobile .nowplaying>div {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1;
}

#app.mobile .nowplaying.big>div {
  display: block;
}

#app.mobile .nowplaying .coverart {
  width: 56px;
  min-width: 56px;
  max-width: 56px;
  height: 56px;
  border: solid transparent 1px;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  flex: 1;
}

#app.mobile .nowplaying .timer {
  display: flex;
  flex-direction: row;
}

#app.mobile .nowplaying .currentTime,
#app.mobile .nowplaying .remainingTime {
  flex: 1;
  font-size: 9px;
}

#app.mobile .nowplaying .timer .padding {
  flex: 10;
}

#app.mobile .nowplaying .trackInfo {
  flex: 100;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: left;
  overflow: hidden;
}

#app.mobile .nowplaying .trackInfo .title {
  font-size: 14px;
  padding-top: 5px;
  flex: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#app.mobile .nowplaying .trackInfo .artist {
  font-size: 11px;
  padding-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#app.mobile .nowplaying .controls {
  padding-top: 5px;
}

#app.mobile .nowplaying .controls .rewind,
#app.mobile .nowplaying .controls .ffwd {
  padding-top: 3px;
  margin-left: 1em;
  margin-right: 1em;
}

#app.mobile .nowplaying.big .controls {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 20pt;
  margin-top: 1em;
  margin-bottom: 1em;
}

#app.mobile .nowplaying.big .controls .rewind {
  padding-top: 5px;
  margin-left: auto;
  touch-action: none;
}

#app.mobile .nowplaying.big .controls .ffwd {
  padding-top: 5px;
  margin-right: auto;
  touch-action: none;
}

#app.mobile .nowplaying.big .volume {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#app.mobile .nowplaying .progressContainer {
  flex: 1;
  min-height: 4px;
  max-height: 4px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#app.mobile .nowplaying .progressContainer .progress {
  pointer-events: none;
  height: 4px;
}

#app.mobile .queue {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100%;
  overflow: auto;
}

#app.mobile .queue .header {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.5em;
  position: fixed;
}

#app.mobile .queue .header .title {
  flex: 1;
  font-size: 12pt;
  white-space: nowrap;
  margin-top: 0;
}

#app.mobile .queue .header .queueInfo {
  flex: 2;
  font-size: 10pt;
  white-space: nowrap;
}

#app.mobile .queue .header .toggles {
  flex: 1;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

#app.mobile .queue .header .toggles>div {
  flex: 1;
  padding-right: 0.5em;
}

#app.mobile .queue .items {
  margin-top: 33px;
  height: calc(100vh - 33px);
}

#app.mobile .queue .item {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  border: solid transparent 1px;
  border-radius: 4px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 1px;
}

#app.mobile .queue .item .info {
  flex: 10;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 5px;
  padding-right: 1em;
  margin-top: -2px;
}

#app.mobile .queue .item.selected .info,
#app.mobile .queue .item.selected .time {
  border-top: none;
}

#app.mobile .queue .item .info .title {
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#app.mobile .queue .item .info .artist {
  font-size: 12px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#app.mobile .queue .item .time {
  flex: 1;
  border-top-style: solid;
  border-top-width: 1px;
  font-size: 12px;
  padding-top: 14px;
  text-align: right;
  margin-top: -2px;
}

#app.mobile .queue .item .coverart {
  width: 44px;
  min-width: 44px;
  max-width: 44px;
  height: 44px;
  min-height: 44px;
  max-height: 44px;
  margin-right: 1em;
}

#app.mobile .queue .item .coverart .current {
  width: 30px;
  height: 30px;
  margin-left: 7px;
  margin-top: 7px;
  background-size: cover;
  background-position: center;
}

#app.mobile .queue .item .trackInfo {
  overflow: hidden;
  border-top-style: solid;
  border-top-width: 1px;
  margin-top: -2px;
  padding-top: 2px;
}

#app.mobile .queue .item .trackInfo .title {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#app.mobile .queue .item .trackInfo .artist {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


#app.mobile .switch {
  width: 35px;
  min-width: 35px;
  max-width: 35px;
  height: 20px;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  overflow: hidden;
  transition: border-color 0.25s;
}

#app.mobile .switch .onbg {
  width: 20px;
  height: 20px;
  border: solid transparent 0px;
  border-radius: 10px;
  padding-left: 0px;
  transition: padding-left 0.25s;
}

#app.mobile .switch.on .onbg {
  padding-left: 15px;
}
  
#app.mobile .switch .knob {
  width: 18px;
  height: 18px;
  border: solid transparent 1px;
  border-radius: 10px;
  overflow: hidden;
}

#app.mobile .nowplaying.big .sonosSwitch {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

#app.mobile .nowplaying.big .sonosSwitch .switch {
  flex: 1;
}

#app.mobile .nowplaying.big .sonosSwitch .label {
  flex: 10;
  padding-left: 1em;
  font-size: 18px;
  font-weight: bold;
}

#app.mobile.login {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#app.mobile.login .leftPad,
#app.mobile.login .rightPad {
  flex: 10;
}

#app.mobile.login .centerPad {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#app.mobile.login .centerPad .topPad,
#app.mobile.login .centerPad .bottomPad {
  flex: 10;
}

#app.mobile.login .centerPad .topPad {
  vertical-align: bottom;
  font-weight: bold;
  font-size: 16pt;
}

#app.mobile.login .centerPad .login {
  flex: 1;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  padding: 2em;
  display: grid;
  grid-template-columns: min-content min-content;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

#app.mobile.login .centerPad .login .header {
  grid-column: span 2;
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
  padding: 0 0 1em 0;
}

#app.mobile .login input {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 12pt;
}

#app.mobile .login input[type="button"] {
  font-weight: bold;
}

